.text-button {
  color: #c63939;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 0;
  background-color: transparent;
  border: none;
  text-decoration-line: underline;

  &:hover {
    color: #a23333;
  }
}